body {
    font-size: 0px;
    margin: 0px;
}

.top-header {
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.800);
    color: lightblue;
}

.logo,
.game-menu,
.header {
    font-size: 1rem;
    display: inline-block;
    position: relative;
}

.game-menu,
.header {
    width: 100%;
    position: relative;
    text-align: center;
}

.logo {
    height: 15vh;
    width: 15vh;
    position: absolute;
    border: 1px solid aqua;
    top: 2%;
    left: 2%;
    background-image: url(pictures/logo.gif);
    background-size: contain;
}

.game-menu {
    font-size: 5vh;
}

.header {
    font-size: 10vh;
}

.hero-body {
    height: 80vh;
    background-color: rgb(206, 205, 205);
}

.stats-container {
    height: 80%;
    width: 15%;
    background-color: rgba(0, 0, 0, 0.800);
    color: lightblue;
    position: relative;
    display: inline-block;
    top: 10%;
    left: 5%;
    vertical-align: top;
}

.games-played,
.caught,
.accuracy,
.reset {
    font-size: 1rem;
    margin: 5%;
}

.info {
    position: absolute;
    bottom: 30%;
}

.info > p {
    font-size: 2.5rem;
    text-align: center;
    margin: 10px;
}

.reset {
    position: absolute;
    bottom: 5%;
    left: 10%;
    background-image: url(pictures/sleep.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 6vh;
    width: 10vh;
}

.game-area {
    height: 90%;
    width: 60%;
    position: relative;
    display: inline-block;
    top: 5%;
    left: 10%;
    text-align: center;
}

.card {
    display: inline-block;
    height: 30%;
    width: 14%;
    margin: 1%;
    position: relative;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.front {
    position: absolute;
}

.back {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    background-image: url('pictures/cover.jpg');
}

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(pictures/pokeball.jpg);
    background-size: contain;
}

.modal-content {
    /* background-image: url(pictures/pokedex.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
    width: 95%;
    height: 95%;
    margin: 5vh 5vw;
    overflow: scroll;
}

.close {
    color: rgb(255, 255, 255);
    font-size: 5vh;
    font-weight: bold;
    position: absolute;
    right: 5%;
}

.close:hover,
.close:focus,
.info:hover,
.info:focus {
    color: rgb(56, 56, 180);
    text-decoration: none;
    cursor: pointer;
}

.collection {
    object-fit: contain;
    float: left;
}